# Laravel core

/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key

# Environment files

.env
.env.*
!.env.example

# IDE / Editor

/.idea
/.vscode
/.fleet
/.zed
.phpactor.json

# OS files

.DS_Store
Thumbs.db

# Logs & cache

*.log
.phpunit.result.cache
/.phpunit.cache
/storage/pail

# Auth & config

/auth.json

# Homestead

Homestead.json
Homestead.yaml

# Python

**pycache**/
venv/

# AI / ML models

*.safetensors
*.pt
*.bin

# Custom cache

python-api/chronos_cache/

# Old vendor backup (IMPORTANT)

vendor_old/

# Misc

bootstrap/cache/*.php
